<ion-view>
  <ion-content has-bouncing="false">


<!-- SEARCH BOX
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon" ></i>
        <input type="text" ng-model="query" placeholder="Search">
      </label>
    </div> -->

    <!-- INFO PANEL -->
    <ion-item class="item">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sapiente sint minima perferendis, accusamus, repellat, consequatur ipsum excepturi voluptates esse tempora ipsam. Reiciendis sed temporibus odio praesentium molestiae enim, non.
    </ion-item>

    <!-- HERO IMAGE -->
    <ion-item class="item-image">
      <img src="../img/TEDxHonolulu_hero.jpg" />
    </ion-item>

    <!-- MAIN PAGE DESCRIP -->
    <ion-item class="item">
      <h1><span class="red">TED<sup>x</sup></span>Honolulu 2015: Paradigm Shift</h1>

      <h2><b>March 28, 2015, 9:00AM – 5:30PM</b></h2>
      <h2>University of Hawai‘i at Mānoa Campus Center</h2>

      <br />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, dicta repellendus odit aspernatur est illo veniam sit praesentium rerum, reiciendis at officia, labore sint asperiores dolor quis nihil incidunt eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cum iusto illo fugit quaerat repellendus molestias quos corporis ex iure, nobis suscipit neque obcaecati, officiis esse. Sit, sapiente et eum. Dolor quis nihil incidunt eaque.
      </p>
    </ion-item>

    <!-- GOOGLE MAP SNIPPET -->
    <ion-item class="item">
      <iframe
        width="100%"
        height="200"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtcxg8NOJyBQfulWlRueh9pVMgNkj9lr0
        &q=Manoa+Innovation+Center">
      </iframe>
    </ion-item>


    <!-- AGENDA MANIFEST -->

  <div np-app="agenda" ng-controller="AgendaCtrl">
      <ion-list>
        <div ng-repeat="agenda in agendas">
          <ion-item class="item-stable"
                ng-click="toggleAgenda(agenda)"
                ng-class="{active: isAgendaShown(agenda)}">
          <i class="icon" ng-class="isAgendaShown(agenda) ? 'ion-minus' : 'ion-plus'"></i>  
        &nbsp;
        Agenda {{agenda.name}} 
      </ion-item>  
      <ion-item class="item-accordion"
                ng-repeat="item in agenda.items"
                ng-show="isAgendaShown(agenda)">
        {{item}}    
      </ion-item>      
      </div>  
    </ion-list> 
    </div>
  </ion-content>
</ion-view>  

