<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.tedxclient101473" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>TEDx Honolulu</name>
  <description>
        Application to show speaker information for TEDx Honolulu conference.
    </description>
  <author email="tedxhonolulu2015app@gmail.com" href="http://www.devleague.com/">
      Devleague Cohort 4
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>