<ion-view view-title="Administrator Login">
  <ion-content class="padding">
    
<!--     <div class="list card">
      <div class="item item-divider">Login</div>
      <div class="item item-body"> -->

    <div class="list list-inset">
      <label class="item item-input" for="username">
        <input type="text" placeholder="Username" name="username">
      </label>
      <label class="item item-input" for="password">
        <input type="password" placeholder="Password" name="password">
      </label>
      <div>
        <button type="submit" class="button button-block button-balanced" ng-submit="lolwat()">
          Log In
        </button>
      </div>

    </div>


           <!--  <div>
              <label class="item item-input" for="username">
                <input name="username" class="username" placeholder="username" />
              </label>
            </div>
            <div>
              <label class="item item-input" for="password">
                <input name="password" class="password" placeholder="password" />
              </label>
            </div>

            <button type="submit" ng-click="lolwat()">Log In</button> -->
<!--       </div>
    </div> -->

  </ion-content>
</ion-view>
