/* Accordion Styles */

.list .item.item-accordion {
  padding: 16px 74px;
  /*transition: 0.09s all ease;*/
}
.list .item.item-accordion.ng-hide {
  /*line-height: 0px;*/
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block;
}

/* ETC styles */
html {
  background-image: url('../img/greyzz.png');
}

.main-event {
  padding: 2em;
}

.full-agenda {
  padding: 4em;
}

.footer {
  height: 2000px;
  background-color: red;
}

a.agenda-anchor {
  text-decoration: none;
}

.bar {
  height: 140px;
}

.bar-subheader {
  top: 140px;
}

.has-header {
  top: 140px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#map {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.red {
  color: #e62b1e;
}

.black {
  color: #000;
}

.italic {
  font-style: italic;
}

h2.bolder {
  font-weight: 900;
}

h3.bolder{
  font-weight: normal;
}

.horrible{
  max-width: 768px;
  margin: auto;
}

