html {
  background-image: url('../img/greyzz.png');
}

.main-event {
  padding: 2em;
}

.main-event h1 {
  line-height: 44px;
}

.full-agenda {
  padding: 4em;
  padding-top: 2em;
}

.spacer {
  height: 600px;
  min-height: 600px;
  background-color: #000;
}

a.agenda-anchor {
  text-decoration: none;
}

.bar {
  height: 100px;
}

.bar-subheader {
  top: 100px;
}

.has-header {
  top: 100px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#map {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.red {
  color: #e62b1e;
}

.black {
  color: #000;
}

.serif {
  font-family: "Merriweather", "Georgia", "Baskerville", serif;
}

.italic {
  font-style: italic;
}

h2.bolder {
  font-weight: 900;
}

h3.bolder{
  font-weight: normal;
  margin-bottom: 10px;
}

.horrible{
  max-width: 768px;
  margin: auto;
}

/* Accordion Styles */

/*.animate-show {
  line-height: 30px;
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition:    opacity 0.1s ease-in-out;
  -ms-transition:     opacity 0.1s ease-in-out;
  -o-transition:      opacity 0.1s ease-in-out;
  transition:         opacity 0.1s ease-in-out;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
}
*/

/*.list .item.item-accordion {
  padding: 16px 74px;
  line-height: 30px;
  transition: 1s all ease;
}*/
/*.list .item.item-accordion.ng-hide {
  line-height: 0px;
}*/

/*.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block;
}*/

/* ETC styles */
